name: CI
on: [push]
jobs:
  build:
    name: Build, lint, and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
        - run: npm ci

        - name: Lint
          run: npm run lint

        - name: Test
          run: npm run test --ci --coverage --maxWorkers=2

        - name: Build
          run: npm run build
